@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: black;
  background: #f7f7f4;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* --- Reset finished --- */

section {
  max-width: 1600px;
  padding: 48px 5%;
  width: 100%;
}

.profile {
  border-radius: 50%;
  border: 6px solid #eeeee8;
  position: relative;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  overflow: hidden;
}

.profile img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 150px;
  max-width: 150px;
}

nav {
  padding: 36px 0;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

nav a {
  padding: 12px 24px;
  text-align: center;
  font-size: 16px;
  border-radius: 48px;
  border: 1px solid rgba(0,0,0,.4);
  background: transparent;
  transition: .4s;
  color: black;
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

nav a:hover {
  background: black;
  border: 1px solid black;
  color: #f7f7f4;
}

nav a i {
  height: 12px;
  width: auto;
}

@media and (max-width: 480px) {
  nav a {
    padding: 24px 5%;
  }
}

